@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&display=swap");
/*cree el mapa pero aún no borré la variable porque hay htmls que todavia la ocupan
   ya que no he actualizado todo el css para que se utilice solo los maps*/
/*Normaliza*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62,5%; }

body {
  font-family: "Barlow", sans-serif;
  color: #1871D9;
  margin: 0;
  background: #f1eee3; }

img {
  width: 100%; }

ul {
  list-style-type: none;
  font-family: "Roboto Slab", serif; }

a {
  text-decoration: none; }

.flex-column {
  display: flex;
  flex-direction: column; }

.flex-roww {
  display: flex;
  flex-direction: row; }

.wrap {
  flex-direction: wrap; }

.ai-center {
  align-items: center; }

.jc-center {
  justify-content: center; }

.jc-spacebetween {
  justify-content: space-between; }

.fs-xxl {
  font-size: 48px; }

.header {
  justify-content: space-between;
  padding: 24px 24px;
  font-family: "Roboto Slab", serif;
  border-bottom: 1px solid #36A2F0; }
  .header__logo {
    display: block;
    max-width: 150px;
    min-width: 120px;
    margin: 0 24px; }
  .header__nav {
    justify-content: space-between;
    /*map get*/
    border: none; }
  .header__ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 250px; }
    .header__ul--li {
      color: inherit; }
  .header__link {
    padding: 0 1rem;
    color: #36A2F0;
    font-size: 20px;
    font-weight: 500;
    transition: all .3s; }
    .header__link--active {
      border: 2px solid #1871D9; }

.footer {
  font-family: "Roboto Slab", serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 36px;
  border-bottom: 1px solid #36A2F0; }
  .footer__datos {
    flex-direction: column;
    width: 50%;
    font-size: 20px;
    color: #2D2B2B; }
    .footer__datos--name {
      font-size: 20px; }
    .footer__datos--cuit {
      font-size: 15px; }
    .footer__datos--adress {
      font-size: 15px; }
  .footer__nav {
    flex-direction: column; }
    .footer__nav .nav__li, .footer__nav .nav__li--twitter, .footer__nav .nav__li--facebook, .footer__nav .nav__li--instagram {
      padding: 0 1rem;
      font-size: 20px;
      font-weight: 500;
      transition: all .3s; }
      .footer__nav .nav__li--twitter {
        color: rgba(67, 207, 250, 0.825); }
      .footer__nav .nav__li--facebook {
        color: #2e4cc0; }
      .footer__nav .nav__li--instagram {
        color: #ea1067; }
      .footer__nav .nav__li:hover, .footer__nav .nav__li--twitter:hover, .footer__nav .nav__li--facebook:hover, .footer__nav .nav__li--instagram:hover {
        background: linear-gradient(to right, #FFFAFA), #36A2F0;
        font-family: "Roboto Slab", serif;
        color: #2D2B2B;
        font-weight: 800;
        border: 3px solid #FFFAFA; }

body {
  height: 100vh;
  background: #FFFAFA; }
  body .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1871D9;
    flex-wrap: wrap;
    margin: 48px 0; }
    body .home__title {
      font-family: "Barlow", sans-serif;
      font-size: 72px;
      /*mixin aplicado*/
      display: block;
      font-size: 500;
      color: #1871D9;
      margin-bottom: 36px;
      position: relative;
      animation: move 1 ease-in-out 0.3s 1s; }
    body .home__slogan {
      display: block;
      font-size: 48px;
      color: #FFFAFA;
      font-size: 36px;
      color: #36A2F0; }
  body .publicity {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px; }
    body .publicity__text {
      grid-row: span 6;
      grid-column: 2/6;
      transform: rotate(357deg);
      color: #FFFAFA;
      /* transform: skewy(45deg); */ }
      body .publicity__text--title {
        color: #1871D9;
        font-size: 48px; }
      body .publicity__text-description {
        font-size: 32px;
        margin: 48px auto;
        color: #36A2F0; }
    body .publicity__video {
      grid-column: 7/12;
      grid-row: span 4;
      height: 100%;
      width: 100%;
      border: 2px double #1871D9;
      padding: 48px auto;
      /* transform: rotate(3deg);        */ }
      body .publicity__video:hover {
        height: 105%;
        width: 105%;
        transition: all 1s; }
  body .lista__slogan {
    text-align: center;
    color: #1871D9; }
  body #listas-de-productos {
    margin-top: 36px;
    font-size: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 50%; }
  body .lista {
    height: 50%; }
    body .lista__ul {
      flex-direction: column;
      width: 200px; }
      body .lista__ul:hover {
        translate: 25px, 25px; }
      body .lista__ul--title {
        color: #36A2F0; }
    body .lista__item {
      color: #2D2B2B;
      margin-bottom: 1rem; }
    body .lista__link {
      color: #2D2B2B;
      text-shadow: 2px #2D2B2B;
      padding: 0 0.5rem;
      font-size: 32px;
      font-weight: 500;
      transition: all .3s; }

.productos {
  justify-content: center;
  align-items: center;
  margin-bottom: 36px; }
  .productos .productos__inodoro {
    color: 0; }
  .productos .productos__img {
    border: 1px solid #2D2B2B;
    border-radius: 10px; }
  .productos .productos__img {
    height: 100%;
    width: 50%; }
  .productos .productos__nav {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 300px; }
  .productos .productos__link {
    color: #36A2F0; }
    .productos .productos__link--title {
      color: #1871D9; }

.carrousel__img {
  border: 2px solid #2D2B2B; }

.carrousel__text {
  margin-top: 48px;
  text-align: center;
  color: #2D2B2B;
  font-size: 48px;
  margin-bottom: 2rem; }
  .carrousel__text--description {
    text-align: center; }

.form {
  justify-content: center;
  flex-direction: column;
  margin: 48px; }

.form__datos {
  font-size: 20px;
  color: #2D2B2B;
  height: 2rem;
  margin-top: 2rem;
  width: 100%; }

.form__label {
  width: 20%;
  justify-content: end; }

.form__input {
  font-size: 20px;
  width: 70%;
  color: #FFFAFA;
  background-color: #36A2F0;
  border-radius: 30px; }

.logo__text {
  margin-top: 48px;
  align-items: center;
  justify-content: center;
  color: #FFFAFA;
  background-color: #FFFAFA; }
  .logo__text--title {
    color: #1871D9; }
  .logo__text--description {
    color: #36A2F0; }

@keyframes move {
  0% {
    left: 0; }
  25% {
    left: -300px; }
  50% {
    left: 0; }
  75% {
    left: 300px; }
  100% {
    left: 0; } }

@media (max-width: 599px) {
  .header {
    display: flex;
    flex-direction: column;
    margin: 18px auto;
    /*Hecho con mapa*/ }
  .header__logo {
    margin: 18px auto;
    padding: 0; }
  .header__nav {
    justify-content: center;
    margin: 0; }
  .header__ul {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 250px; } }

@media (max-width: 599px) and (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
    /*Hecho con mapa*/ }
  .header__logo {
    margin: 18px auto; }
  .header__nav {
    justify-content: center; }
  .header__ul {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 250px;
    margin: 0; }
  .header__link {
    font-size: 16px;
    padding: 0.5rem;
    margin: 0; } }

@media (max-width: 599px) {
  /*Home*/
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1871D9;
    flex-wrap: wrap;
    margin: 48px 0; }
  .home__title {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
    /*mixin aplicado*/
    display: block; }
    .home__title .home__slogan {
      font-size: 24px; }
  /*publicity*/
  .publicity {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px; }
  .publicity__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* transform: skewy(45deg); */ }
  .publicity__text--title {
    color: #1871D9;
    font-size: 24px; }
  .publicity__text-description {
    font-size: 18px;
    margin: 24px auto; }
  .publicity__video {
    padding: 24px auto;
    /* transform: rotate(3deg);        */ }
  /*Footer responsive*/
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .footer__nav {
    align-items: center;
    justify-content: center; }
  .footer__nav .nav__li, .footer__nav .nav__li--twitter, .footer__nav .nav__li--facebook, .footer__nav .nav__li--instagram, .footer__nav .nav__li--twitter, .footer__nav .nav__li--facebook, .footer__nav .nav__li--instagram {
    padding: 0.2rem;
    font-size: 14px; }
  .productos {
    flex-direction: column;
    margin-bottom: 18px;
    height: auto;
    flex: 1 1 auto; }
  .productos .productos__img {
    height: 100%;
    width: 50%; } }

@media (min-width: 600px) and (max-width: 768px) {
  .header {
    flex-direction: row;
    /*Hecho con mapa*/ }
    .header .header__logo {
      margin: 24px; }
    .header .header__nav {
      justify-content: space-between;
      /*map get*/ }
    .header .header__ul {
      flex-direction: row; }
      .header .header__ul .header__link {
        padding: 1rem;
        font-size: 20px; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px 0; }
  .home__title {
    font-size: 72px;
    /*mixin aplicado*/
    display: block;
    font-size: 500;
    margin-bottom: 36px; }
    .home__title .home__slogan {
      display: block;
      font-size: 48px;
      font-size: 36px; }
    .home__title .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
    .home__title .publicity__text {
      grid-row: span 2;
      grid-column: 4/11;
      /* transform: skewy(45deg); */ }
    .home__title .publicity__text--title {
      font-size: 36px; }
    .home__title .publicity__text-description {
      font-size: 24px; }
    .home__title .publicity__video {
      grid-column: span 12;
      grid-row: span 2;
      /* transform: rotate(3deg);        */ } }

@media (min-width: 600px) and (max-width: 768px) and (min-width: 769px) {
  .header {
    flex-direction: row;
    /*Hecho con mapa*/ }
    .header .header__logo {
      margin: 24px; }
    .header .header__nav {
      justify-content: space-between;
      /*map get*/ }
    .header .header__ul {
      flex-direction: row; }
      .header .header__ul .header__link {
        padding: 1rem;
        font-size: 20px; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1871D9;
    flex-wrap: wrap;
    margin: 48px 0; }
  .home__title {
    font-family: "Barlow", sans-serif;
    font-size: 72px;
    /*mixin aplicado*/
    display: block;
    font-size: 500;
    color: #1871D9;
    margin-bottom: 36px;
    animation: rotate infinite ease-in-out 8s 3s; }
  .home__slogan {
    display: block;
    font-size: 48px;
    color: #FFFAFA;
    text-shadow: 2px 2px #2D2B2B;
    font-size: 36px;
    color: #36A2F0; }
  .publicity {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px; }
  .publicity__text {
    grid-row: span 2;
    grid-column: 4/11;
    /* transform: skewy(45deg); */ }
  .publicity__text--title {
    font-size: 36px; }
  .publicity__text-description {
    font-size: 24px; }
  .publicity__video {
    grid-column: span 12;
    grid-row: span 2;
    /* transform: rotate(3deg);        */ } }

@media (min-width: 600px) and (max-width: 768px) {
  .header {
    flex-direction: row;
    /*Hecho con mapa*/ }
    .header .header__logo {
      margin: 24px; }
    .header .header__nav {
      justify-content: space-between;
      /*map get*/ }
    .header .header__ul {
      flex-direction: row; }
      .header .header__ul .header__link {
        padding: 1rem;
        font-size: 20px; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 48px 0; }
  .home__title {
    font-size: 72px;
    /*mixin aplicado*/
    display: block;
    font-size: 500;
    margin-bottom: 36px; }
    .home__title .home__slogan {
      display: block;
      font-size: 48px;
      font-size: 36px; }
    .home__title .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
    .home__title .publicity__text {
      grid-row: span 2;
      grid-column: 4/11;
      /* transform: skewy(45deg); */ }
    .home__title .publicity__text--title {
      font-size: 36px; }
    .home__title .publicity__text-description {
      font-size: 24px; }
    .home__title .publicity__video {
      grid-column: span 12;
      grid-row: span 2;
      /* transform: rotate(3deg);        */ } }

@media (min-width: 600px) and (max-width: 768px) and (min-width: 769px) {
  .header {
    flex-direction: row;
    /*Hecho con mapa*/ }
    .header .header__logo {
      margin: 24px; }
    .header .header__nav {
      justify-content: space-between;
      /*map get*/ }
    .header .header__ul {
      flex-direction: row; }
      .header .header__ul .header__link {
        padding: 1rem;
        font-size: 20px; }
  .home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1871D9;
    flex-wrap: wrap;
    margin: 48px 0; }
  .home__title {
    font-family: "Barlow", sans-serif;
    font-size: 72px;
    /*mixin aplicado*/
    display: block;
    font-size: 500;
    color: #1871D9;
    margin-bottom: 36px;
    animation: rotate infinite ease-in-out 8s 3s; }
  .home__slogan {
    display: block;
    font-size: 48px;
    color: #FFFAFA;
    text-shadow: 2px 2px #2D2B2B;
    font-size: 36px;
    color: #36A2F0; }
  .publicity {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 36px; }
  .publicity__text {
    grid-row: span 2;
    grid-column: 4/11;
    /* transform: skewy(45deg); */ }
  .publicity__text--title {
    font-size: 36px; }
  .publicity__text-description {
    font-size: 24px; }
  .publicity__video {
    grid-column: span 12;
    grid-row: span 2;
    /* transform: rotate(3deg);        */ } }
