@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;500;700&family=Roboto+Slab:wght@300;500;700&display=swap');



:root {

    /*pallete*/
    --primary: #2D2B2B;
    --secondary: #36A2F0;
    --third: #1871D9;
    --four: #FFFAFA;
    /*font family*/

--text-base: font-family: 'Barlow', sans-serif;
--textLinks: font-family: 'Roboto Slab', serif;

/*Spacings*/

--spacing-lg: 48px;
--spacing-md: 36px;
--spacing--sm: 24px;
/*Family Sizes*/
--text-xxl: 72px;
--text-xl: 48px;
--text-lg: 32px;
--text-mid: 20px;
--text-xs: 16px;
--text-sm: 14px;

}
/*Normaliza*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    html{
        font-size: 62,5%;
    }
    body{
        font-family: var(--text-base);
        color: var(--primary);
        margin: 0;

    }
    img {
        width: 100%;
    }
    ul {
        list-style-type: none;
        font-family: var(--textLinks);

        
    }
      a {
        text-decoration: none;
    }
    /*Helpers */
 
    .flex-row {
        display: flex;
        flex-direction: row;
    }
    /*Header*/
    .header{ 
      font-family: var(--textLinks);
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      }
.header__logo{
    display: block;
    max-width: 150px;
    min-width: 120px;
    padding-bottom: 1rem;
    }

.header__nav{     
          
        justify-content: space-between;
        flex-wrap: wrap;
        }

.header__ul{
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 250px;
    
    
    
}

.header__link {
    color: var(--third);    
    padding: 1rem;
    font-size: var(--text-mid);
    font-weight: 500;
    transition: all .3s;


}
.header__link:hover{
    background: linear-gradient(to right, var(--third), var(--secondary));
    font-family: var(--textLinks);
    color: var(--primary);
    font-weight: 800;

}

.header__link-active{
    border: 2px solid var(--primary);
}


/*Grid */
#publicity {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: var(--spacing-md);
}

/*Fin Grid*/
/*Misma sección, con flex, comentada para usar con gird*/
/* #publicity {
    justify-content: space-between;
    margin: 0 var(--spacing-lg);
    flex-wrap: wrap;
    
    
    }
    .publicity {
        flex: 1 1 375px;
        padding: var(--spacing-lg) auto;
                   }
            
    .publicity__text {
        height: 100%;
        width: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: var(--text-xl);
    
    
    }
    .publicity__text-title {
        color: var(--third);
        margin: var(--spacing-lg) auto;
    }
    .publicity__text-description {
        font-size: var(--text-lg);
        margin: var(--spacing-lg) auto;
        color: var(--secondary);
    }
.publicity__video {
    height: 100%;
    width: 50%;
    border: 2px double var(--primary);
    padding: var(--spacing-lg) auto;
    
} */


    


#footer {
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    margin: var(--spacing-lg);
    font-size: var(--text-mid);
    flex-wrap: wrap;
    background: radial-gradient(to left, var(--four), var(--primary))

}
.footer__datos {
     flex-direction: column;
     width: 50%;
}
.datos {
    font-size: var(--text-mid);
    color: var(--secondary);
}
.footer__redes {
    flex-wrap: wrap;
}
.footer__nav {
    width: 50%;
    justify-content: space-evenly;
   }
   .footer__ul {
    color: var(--secondary);
   }
    .nav__link {
    color: var(--third);    
    padding: 1rem;
    font-size: var(--text-mid);
    font-weight: 500;
    transition: all .3s;

   }
   .nav__link:hover {
    background: linear-gradient(to right, var(--third), var(--secondary));
    font-family: var(--textLinks);
    color: var(--primary);
    font-weight: 800;
}

/* .selector {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat (2,1fr);
} */

/*Inicio responsive 480px*/
