.flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-roww{
	display:flex;
	flex-direction:row;
	}
.flex-roww {
    @include flex-roww;
}


@mixin wrap {
    flex-direction: wrap;
}
.wrap {
    @include wrap;
    
}
@mixin ai-center {
    align-items: center;    
}
.ai-center {
   @include ai-center;
}
@mixin jc-center {
    justify-content: center;
    }
.jc-center {
    @include jc-center;
}
@mixin jc-spacebetween{
    justify-content: space-between;
}
.jc-spacebetween {
    @include jc-spacebetween;
}
@mixin fs-xxl {
    font-size: 48px;
    }
    .fs-xxl {
        @include fs-xxl;
    }