
   $colors: (primary: #1871D9 , secondary: #FFFAFA, third: #2D2B2B, fourth: #36A2F0);
   /*cree el mapa pero aún no borré la variable porque hay htmls que todavia la ocupan
   ya que no he actualizado todo el css para que se utilice solo los maps*/
   $third: #2D2B2B;
    $fourth: #36A2F0;
    $primary: #1871D9;
    $secondary: #FFFAFA;
    $body: rgb(241, 238, 227);



$text-base: 'Barlow', sans-serif;
$textLinks: 'Roboto Slab', serif;

$spacings:(lg: 48px, md: 36px, sm: 24px );


$spacing-lg: 48px;
$spacing-md: 36px;
$spacing-sm: 24px;

$font-sizes:(xxl: 72px, xl: 48px, lg: 32px, mid: 20px, xs: 16px,
sm: 14px
 );

$text-xxl: 72px;
$text-xl: 48px;
$text-lg: 32px;
$text-mid: 20px;
$text-xs: 16px;
$text-sm: 14px;
@mixin title ($text-base, $text-xl){
    font-family: $text-base;
    font-size: $text-xl;
}

