
   
    $third: #2D2B2B;
    $fourth: #36A2F0;
    $primary: #1871D9;
    $secondary: #FFFAFA;
    $body: rgb(241, 238, 227);




$text-base: 'Barlow', sans-serif;
$textLinks: 'Roboto Slab', serif;




$spacing-lg: 48px;
$spacing-md: 36px;
$spacing-sm: 24px;


$text-xxl: 72px;
$text-xl: 48px;
$text-lg: 32px;
$text-mid: 20px;
$text-xs: 16px;
$text-sm: 14px;


