<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Líneas de baño</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="shortcut icon" href="../img/logoparahtml.png" type="image/x-icon">
</head>
<body>
    <header id="header" class="header">
        <a class="header__logo" href="../index.html"><img src="../img/logoparahtml.png" alt=""></a>
    
    <nav class="header__nav">
        <ul class="header__ul flex-row">
            <li class="header__li">
                <a class="header__link header__link-active" href="./productos.html">Productos</a></li>
            <li class="header__li">
                <a class="header__link" href="./lineasdebano.html">Líneas de baño</a></li>
            <li class="header__li">
                <a class="header__link" href="./about.html">¿Quiénes somos?</a></li>
            <li class="header__li">
                <a class="header__link" href="./contact.html">Contacto</a></li>
        </ul>
    </nav>
</header>
<section class="home flex-row">
    <h1 class="home__title">LINEAS DE BAÑO</h1>
</section>


<section id="listas-de-productos" class="listas-de-productos flex-row">
    <article class="listas">
    
    
    <ul class="lista__ul flex-row">
       <li> <a class="lista__title" href="./views/lineasdebano.html">Línea de baño1</a></li>
        <li class="lista__item"><a class="lista__link" href="./views/productos.html#inodoros">Inodoros línea 1</a></li>
        <li class="lista__item"><a class="lista__link" href="">Bidets linea 1</a></li>
        <li class="lista__item"><a class="lista__link" href="">Depositos línea 1</a></li>
        <li class="lista__item"><a class="lista__link" href="">Asientos línea 1</a></li>
    </ul>
</article>
<article class="listas">
    
    
    <ul class="lista__ul">
       <li> <a class="lista__title" href="./views/lineasdebano.html">Línea de baño 2</a></li>
        <li class="lista__item"><a class="lista__link" href="">Inodoros línea 2</a></li>
        <li class="lista__item"><a class="lista__link" href="">Bidets linea 2</a></li>
        <li class="lista__item"><a class="lista__link" href="">Depositos línea 2</a></li>
        <li class="lista__item"><a class="lista__link" href="">Asientos línea 2</a></li>
    </ul>
</article>
<article class="listas">
    
    
    <ul class="lista__ul">
       <li> <a class="lista__title" href="./views/lineasdebano.html">Línea de baño3 </a></li>
        <li class="lista__item"><a class="lista__link" href="">Inodoros línea 3</a></li>
        <li class="lista__item"><a class="lista__link" href="">Bidets linea 3</a></li>
        <li class="lista__item"><a class="lista__link" href="">Depositos línea 3</a></li>
        <li class="lista__item"><a class="lista__link" href="">Asientos línea 3</a></li>
    </ul>
</article>
<article class="listas">
    
    
    <ul class="lista__ul">
       <li> <a class="lista__title" href="./views/lineasdebano.html">Línea de baño4</a></li>
        <li class="lista__item"><a class="lista__link" href="">Inodoros línea 4</a></li>
        <li class="lista__item"><a class="lista__link" href="">Bidets linea 4</a></li>
        <li class="lista__item"><a class="lista__link" href="">Depositos línea 4</a></li>
        <li class="lista__item"><a class="lista__link" href="">Asientos línea 4</a></li>
    </ul>
</article>
</section>
    <!-- <section class="listas">
        <h2 class="lista__title">Nombre línea1</h2>
        <h3 class="lista__item">Inodoros línea1</h3>
        <h3 class="lista__item">Bidets línea1</h3>
        <h3 class="lista__item">Depositos línea1</h3>
        <h3 class="lista__item">Asientos línea1</h3>
    </section>
    <section class="listas">
        <h2 class="lista__title">Nombre línea2</h2>
        <h3 class="lista__item">Inodoros línea2</h3>
        <h3 class="lista__item">Bidets línea2</h3>
        <h3 class="lista__item">Depositos línea2</h3>
        <h3 class="lista__item">Asientos línea2</h3>
    </section>
    <section class="listas">
        <h2 class="lista__title">Nombre línea3</h2>
        <h3 class="lista__item">Inodoros línea3</h3>
        <h3 class="lista__item">Bidets línea3</h3>
        <h3 class="lista__item">Depositos línea3</h3>
        <h3 class="lista__item">Asientos línea3</h3>
    </section>
    <section class="listas">
        <h2 class="lista__title">Nombre línea4</h2>
        <h3 class="lista__item">Inodoros línea4</h3>
        <h3 class="lista__item">Bidets línea4</h3>
        <h3 class="lista__item">Depositos línea4</h3>
        <h3 class="lista__item">Asientos línea4</h3>
    </section>  -->
    
    <footer id="footer" class="footer flex-row ">

        <article class="footer__datos flex-row">
        <h3 class="datos">OJH SANITARIOS</h3>
        <h4 class="datos">30-XXXXXXXX-X</h4>
        <h4 class="datos">Avenida primera 123</h4>
        </article>
        <article class="footer__redes">
        <ul class="footer__nav flex-row">
    <li class="nav__li">
        <a class="nav__link" href="">Twitter</a>
    </li>
    <li class="nav__li">
        <a class="nav__link" href="">Instagram</a>
    </li>
    <li class="nav__li">
        <a class="nav__link" href="">Facebook</a>
    </li>
</ul>    
</article>
    
</footer>

</body>
</html>