.footer {
    font-family: $textLinks;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: $spacing-md;
  border-bottom: 1px solid $fourth;
&__datos {
     flex-direction: column;
     width: 50%;
     font-size: $text-mid;
     color: map-get($colors, third );
     &--name {
        font-size: $text-mid;

     }
    &--cuit {
        font-size: ($text-mid*0.75);

    }
    &--adress {
        font-size: ($text-mid*0.75);
       
    }
 }

    &__nav {
flex-direction: column;        
    & .nav__li {
        padding: 0 1rem;
                  font-size: $text-mid;
                  font-weight: 500;
                  transition: all .3s;
        &--twitter{ 
            @extend .nav__li;
            color: rgba(67, 207, 250, 0.825);}
            &--facebook {
                @extend .nav__li;
                color: rgb(46, 76, 192);
            }
            &--instagram {
                @extend .nav__li;
                color: rgb(234, 16, 103);
            }

                  
            &:hover{
                background: linear-gradient(to right, $secondary), $fourth;
                font-family: $textLinks;
                color: $third;
                font-weight: 800;
                border: 3px solid $secondary;
            
            }
        }
        
    }
}


    

