.footer {
    font-family: $textLinks;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: $spacing-md;
&__datos {
     flex-direction: column;
     width: 50%;
     font-size: $text-mid;
     color: $secondary;
     &--name {

     }
    &--cuit {

    }
    &--adress {
       
    }
 }

    &__nav {
        
    & .nav__li {
        
        &--link{
            color: $secondary;    
                  padding: 1rem;
                  font-size: $text-mid;
                  font-weight: 500;
                  transition: all .3s;
                  text-shadow: 2px 2px $third;
            &:hover{
                font-family: $textLinks;
                color: $third;
                font-weight: 800;
                border: 3px solid $secondary;
                text-shadow: 2px 2px $secondary;
            
            }
        }
        
    }
}
}

    

