.header{ 
  justify-content: space-between;
  padding: $spacing-sm $spacing-sm;
  font-family: $textLinks;
  border-bottom: 1px solid map-get($colors, fourth);
 &__logo{
      display: block;
      max-width: 150px;
      min-width: 120px;
      margin: 0 $spacing-sm;
      ;
      }
  &__nav{        
      justify-content: space-between;
      margin-right: map-get($spacings, $spacing-sm); /*map get*/
      border: none;
      }
  &__ul{
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              flex: 1 1 250px;
              &--li {
                color: inherit;
                }
            };
              
       
              &__link {
                  padding: 0 1rem;
                  color: map-get($colors , fourth);    
                  font-size: map-get($font-sizes, mid );
                  font-weight: 500;
                  transition: all .3s;
                  &--active{
                    border: 2px solid $primary;    
                  // &:hover {
                  // background: linear-gradient(to right, $secondary), $fourth;
                  // font-family: $textLinks;
                  // color: map-get($colors, secondary);
                  // font-weight: 800;
                  // border: 3px solid map-get($colors, secondary);
                  // // text-shadow: 2px 2px $secondary;

                  }
                }
                 
                }
              
          
         