.header{ 
  font-family: $textLinks;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  &__logo{
      display: block;
      max-width: 150px;
      min-width: 120px;
      padding-bottom: 1rem;
      }
  &__nav{        
  justify-content: space-between;
  flex-wrap: wrap;
  }
      &__ul{
              justify-content: flex-end;
              align-items: center;
              flex-wrap: wrap;
              flex: 1 1 250px; }

              &__link {
                  color: $third;    
                  padding: 1rem;
                  font-size: $text-mid;
                  font-weight: 500;
                  transition: all .3s;
                  &:hover {
                      background: linear-gradient(to right, $third), $secondary;
                  font-family: $textLinks;
                  color: $primary;
                  font-weight: 800;

                  }
                }
                 &__link--active{
                  border: 2px solid $primary;
                }}
          
         