
@media (max-width:599px) {
  .header {
    display: flex;
    flex-direction: column;
    margin: 18px auto;
            /*Hecho con mapa*/
    }
    .header__logo {
            margin: 18px auto; 
        padding: 0;
        }
    .header__nav {
      justify-content: center; 
      margin: 0;
      }
    .header__ul {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      flex: 1 1 250px;
}

@media (min-width: 320px) {
  .header {
    display: flex;
    flex-direction: column;
            /*Hecho con mapa*/
    }
    .header__logo {
            margin: 18px auto; }
    .header__nav {
      justify-content: center;
      }
    .header__ul {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      flex: 1 1 250px;
    margin: 0; }

    .header__link {
       font-size: 16px;
       padding: 0.5rem;
       margin: 0;
       
    }
}
/*Home*/
  .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1871D9;
  flex-wrap: wrap;
  margin: 48px 0; }
  .home__title {
    font-family: "Barlow", sans-serif;
    font-size: 36px;
    /*mixin aplicado*/
    display: block;
    
  .home__slogan {
    font-size: 24px;
              
  }}
  /*publicity*/
  .publicity {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
   gap: 24px; }
  .publicity__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     /* transform: skewy(45deg); */ }
    .publicity__text--title {
      color: #1871D9;
      font-size: 24px; }
    .publicity__text-description {
      font-size: 18px;
      margin: 24px auto;
      }
  .publicity__video {
  
    padding: 24px auto;
    /* transform: rotate(3deg);        */ }
   /*Footer responsive*/
   .footer {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    }
        .footer__nav {
      align-items: center;
    justify-content: center; }
      .footer__nav .nav__li, .footer__nav .nav__li--twitter, .footer__nav .nav__li--facebook, .footer__nav .nav__li--instagram {
        padding: 0.2rem;
        font-size: 14px;
         
 }
 .productos {
  flex-direction: column;
   margin-bottom: 18px; 
  height: auto;
  flex: 1 1 auto;
  }
   .productos .productos__img {
    height: 100%;
    width: 50%; }
   }
 @media (min-width: 600px) and (max-width: 768px) {
  .header {
    flex-direction: row;
     /*Hecho con mapa*/
    
    .header__logo {
      margin: 24px; }
    .header__nav {
      justify-content: space-between;
       /*map get*/ }
    .header__ul {
      flex-direction: row;
          .header__link {
       padding: 1rem;
      font-size: 20px;
      }
      
         }
    }
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 48px 0; }
      .home__title {
        font-size: 72px;
        /*mixin aplicado*/
        display: block;
        font-size: 500;
        margin-bottom: 36px;
      .home__slogan {
        display: block;
        font-size: 48px;
         font-size: 36px;
         }
    
    .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
      .publicity__text {
        grid-row: span 2;
        grid-column: 4/11;
        /* transform: skewy(45deg); */ }
        .publicity__text--title {
          font-size: 36px; }
        .publicity__text-description {
          font-size: 24px;
           }
      .publicity__video {
        grid-column: span 12;
        grid-row: span 2;
        /* transform: rotate(3deg);        */ }
         }
@media (min-width: 769px){
  .header {
    flex-direction: row;
     /*Hecho con mapa*/
    
    .header__logo {
      margin: 24px; }
    .header__nav {
      justify-content: space-between;
       /*map get*/ }
    .header__ul {
      flex-direction: row;
          .header__link {
       padding: 1rem;
      font-size: 20px;
      }
      
         }
    }
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #1871D9;
      flex-wrap: wrap;
      margin: 48px 0; }
      .home__title {
        font-family: "Barlow", sans-serif;
        font-size: 72px;
        /*mixin aplicado*/
        display: block;
        font-size: 500;
        color: #1871D9;
        margin-bottom: 36px;
        animation: rotate infinite ease-in-out 8s 3s; }
      .home__slogan {
        display: block;
        font-size: 48px;
        color: #FFFAFA;
        text-shadow: 2px 2px #2D2B2B;
        font-size: 36px;
        color: #36A2F0; }
    
    .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
      .publicity__text {
        grid-row: span 2;
        grid-column: 4/11;
        /* transform: skewy(45deg); */ }
        .publicity__text--title {
          font-size: 36px; }
        .publicity__text-description {
          font-size: 24px;
           }
      .publicity__video {
        grid-column: span 12;
        grid-row: span 2;
        /* transform: rotate(3deg);        */ }
         }
        }

<<<<<<< HEAD

=======
>>>>>>> 3ab046c9c5b7e3b310659987d9bbfb07602d5b40
 @media (min-width: 600px) and (max-width: 768px) {
  .header {
    flex-direction: row;
     /*Hecho con mapa*/
    
    .header__logo {
      margin: 24px; }
    .header__nav {
      justify-content: space-between;
       /*map get*/ }
    .header__ul {
      flex-direction: row;
          .header__link {
       padding: 1rem;
      font-size: 20px;
      }
      
         }
    }
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      margin: 48px 0; }
      .home__title {
        font-size: 72px;
        /*mixin aplicado*/
        display: block;
        font-size: 500;
        margin-bottom: 36px;
      .home__slogan {
        display: block;
        font-size: 48px;
         font-size: 36px;
         }
    
    .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
      .publicity__text {
        grid-row: span 2;
        grid-column: 4/11;
        /* transform: skewy(45deg); */ }
        .publicity__text--title {
          font-size: 36px; }
        .publicity__text-description {
          font-size: 24px;
           }
      .publicity__video {
        grid-column: span 12;
        grid-row: span 2;
        /* transform: rotate(3deg);        */ }
         }
@media (min-width: 769px){
  .header {
    flex-direction: row;
     /*Hecho con mapa*/
    
    .header__logo {
      margin: 24px; }
    .header__nav {
      justify-content: space-between;
       /*map get*/ }
    .header__ul {
      flex-direction: row;
          .header__link {
       padding: 1rem;
      font-size: 20px;
      }
      
         }
    }
    .home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: #1871D9;
      flex-wrap: wrap;
      margin: 48px 0; }
      .home__title {
        font-family: "Barlow", sans-serif;
        font-size: 72px;
        /*mixin aplicado*/
        display: block;
        font-size: 500;
        color: #1871D9;
        margin-bottom: 36px;
        animation: rotate infinite ease-in-out 8s 3s; }
      .home__slogan {
        display: block;
        font-size: 48px;
        color: #FFFAFA;
        text-shadow: 2px 2px #2D2B2B;
        font-size: 36px;
        color: #36A2F0; }
    
    .publicity {
      height: 60vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 36px; }
      .publicity__text {
        grid-row: span 2;
        grid-column: 4/11;
        /* transform: skewy(45deg); */ }
        .publicity__text--title {
          font-size: 36px; }
        .publicity__text-description {
          font-size: 24px;
           }
      .publicity__video {
        grid-column: span 12;
        grid-row: span 2;
        /* transform: rotate(3deg);        */ }
         }
        }




 
