.listas-de-productos {
    margin: var(--spacing-lg) var(--spacing-lg);
    font-size: var(--text-lg);
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: var(--spacing-lg);
    }

.lista__ul {
    flex-direction: column;
    border: 2px groove var(--secondary);
    
    }
    .lista__ul:hover {
        translate: (25px,25px );
    }
    .lista__title {
        margin: var(--spacing--sm);
        color: var(--third);
    }
.lista__item {
    margin: var(--spacing--sm) var(--spacing--sm);
    color: var(--secondary);  
    }

    .lista__link {
        color: var(--third);    
        padding: 1rem;
        font-size: var(--text-mid);
        font-weight: 500;
        transition: all .3s;
    }