
.logo__text {
    margin-top: $spacing-lg;
    align-items: center;
    justify-content: center;
    color: $secondary;
    background-color: $secondary;
    &--title{
        color: $primary;

    }
    &--description{
    color: $fourth;

    }
}
