.form {
    justify-content: center;
    flex-direction: column;
    margin: $spacing-lg ;
    
    }
#contact {
    background-color: map-get($colors, secondary);
}

.form__datos {
   font-size: $text-mid;
    color: $third;
    height: 2rem;
    margin-top: 2rem;
    
    
}
.form__label {
    
    justify-content: end;
    color: map-get($colors, fourth);
    &--email {
    
    }
    
}
.form__input {
       }
    .form__choice {
        justify-content: space-around;
    }
