body{
    background: $primary;
}
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    flex-wrap: wrap;
    &__title {
    display: block;    
    font-size: $text-xxl;
    padding-bottom: $spacing-lg;
    margin: 0 20vh 0 20vh;
    font-size: 500;
    color: $third;
    animation: rotate infinite ease-in-out 8s 3s;
    
}

&__slogan {
    display: block;
    font-size: $text-xl;
    color: $secondary;
    
}
}
.publicity {
    height: 60vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: $spacing-md;

&__text {
    grid-row: span 3/5;
    grid-column: 2/6;
    transform: rotate(357deg);
    /* transform: skewy(45deg); */

&-title {
   
    color: $third;
    font-size: $text-xl

}

&-description {
     font-size: $text-lg;
        margin: $spacing-lg auto;
        color: $secondary;

}
}

&__video {
       grid-column: 7/12;
    
    grid-row: span 4;
    height: 100%;
    width: 100%;
    border: 2px double $primary;
    padding: $spacing-lg auto;


    /* transform: rotate(3deg);        */

&:hover{
    height: 105%;
    width: 105%;
    transition: all 1s;
}}}

#listas-de-productos {
    margin: $spacing-lg $spacing-lg;
    font-size: $text-lg;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: $spacing-lg;
    }
.lista {
&__ul {
    flex-direction: column;
    border: 2px groove $secondary;
    
    &:hover {
        translate: (25px,25px );
    }

    &--title {
        // margin: $spacing--lg;
        color: $third;
    }
}
&__item {
    margin: $spacing-sm $spacing-sm;
    color: $secondary;  
    }

    &__link {
        color: $third;    
        padding: 1rem;
        font-size: $text-mid;
        font-weight: 500;
        transition: all .3s;
    }  
}
