body{
    height: 100vh;
    background: map-get($colors, secondary);
}    

.home__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $primary;
    flex-wrap: wrap;
    margin:  $spacing-lg 0;
    position: relative;
    // height: 60vh;
}
  
  
    .home__title1 {
    font-size: 48px;
    
    color: $third;
    margin-bottom: $spacing-md;   
    
        }
    .home__slogan {
    
    font-size: $text-xl;
    color: $secondary;
    font-size: ($text-xl*0.75);
    }


