.form {
    justify-content: center;
    flex-direction: column;
    margin: var(--spacing-lg);
    width: 50%;

}
.form__input {
    font-size: var(--text-mid);
    color: var(--primary);
    gap: var(--spacing-md);
}
